{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block body %}
  <h1>Traductora pública</h1>
  <div class="presentacion">
      <img src='{% static "img/madre.jpg" %}' alt="foto de perfil">
      <p>Soy Traductora Pública, título otorgado por la Universidad de la República de la República Oriental del Uruguay. Me dedico a la traducción de todo tipo de documentos oficiales tanto del idioma español al italiano como viceversa.</p>
  </div>
  <p>Mi área principal de trabajo son las traducciones de documentos para ser presentados en el Consulado de Italia a efectos de tramitar el reconocimiento de la ciudadanía italiana, especialmente la traducción de documentos de estado civil (partidas de nacimiento, matrimonio o defunción), sentencias de divorcio, poderes, títulos de estudio y todo otro documento que requiera traducción oficial. </p>
  <p>Cuento con amplia experiencia en materia de traducciones avalada por muchos clientes satisfechos. Hace muchos años que me dedico a la profesión de traductora, antes ejercida en forma paralela a otras actividades y en la actualidad a tiempo completo.
  <p>Habitualmente los trabajos son entregados en el tiempo y forma acordados. El tiempo de entrega dependerá de varios factores, pero fundamentalmente del tipo de documento, la extensión del texto, si es legible total o parcialmente,  la cantidad de documentos etc.
 Ejemplo: 10 partidas de estado civil, demoro aproximadamente 3 o 4 días en entregar.</p>
</p>
{% endblock body %}
