{% extends 'base.html' %}
{% load static %}
{% block title %}Tramites{% endblock title %}
{% block body %}
  <p>Hay que estudiar cada caso en particular, en líneas generales, podemos afirmar que primeramente, es fundamental conocer si el ascendiente italiano que daría origen a la nacionalidad es por línea paterna, o por línea materna (en este caso existen más restricciones). Es necesario conocer si es la primera persona que va a realizar el trámite o si hay otros familiares que ya hayan obtenido la ciudadanía.
También existe el reconocimiento de la ciudadanía italiana por matrimonio, que requiere una tramitación diferente y también requisitos específicos.</p>
  <p>Todo documento antes de su traducción deberá ser apostillado en el Ministerio de Relaciones Exteriores, luego de lo cual el documento estará listo para ser traducido.</p>
  <p>Toda traducción cumplirá con los requisitos exigidos para su fin específico. Es decir, será presentada de manera que cumpla las leyes, reglamentaciones y formas establecidas.</p>
{% endblock body %}
